extends index
block leftpane
  h2 Hotel Bristol 2
  .panel.panel-default
  .row
    .col-md-offset-1.col-xs-10
      #media.carousel.slide.media-carousel
        .carousel-inner
          .item.active
            .row
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
          .item
            .row
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
          .item
            .row
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
              .col-md-4
                a.thumbnail(href='#')
                  img(alt='', src='http://placehold.it/150x150')
        a.left.carousel-control(data-slide='prev', href='#media') ‹
        a.right.carousel-control(data-slide='next', href='#media')
  .panel.panel-default
    .panel-heading Information
  p
    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate.
    | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis
    | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan.
    | Aliquam in felis sit amet augue.
  table.info-head
    tbody
        tr
          td.pull-right
            strong Status
          td Open Canvas
        tr
          td.pull-right
            strong Start By
          td June 21, 2014
  br
  .panel.panel-default
    .panel-heading Comments
  .panel-body
    ul.list-group
        li.list-group-item
          .row
            .col-xs-2.col-md-1
              img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
            .col-xs-10.col-md-11
              div
                a(href='#') Bhaumik Patel
              .comment-text
                | Awesome design
        li.list-group-item
          .row
            .col-xs-2.col-md-1
              img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
            .col-xs-10.col-md-11
              div
                a(href='#') Ankit Patel
              .comment-text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit   amevulputate.
                | Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit   amefelis
                | dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum   auctoaccumsan.
                | Aliquam in felis sit amet augue.
        li.list-group-item
          .row
            .col-xs-2.col-md-1
              img.img-circle.img-responsive(src='http://placehold.it/80', alt='')
            .col-xs-10.col-md-11
              div
                a(href='#') Bhaumik Patel
              .comment-text
                | some other comment
        li.list-group-item
          form.form-horizontal(role='form')
            .form-group
              label.col-sm-12(for='inputBody') Add Comment
              .col-sm-12
                textarea#inputBody.form-control(rows='6')
                br
                button.btn.btn-primary(type='button') Pos  